* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili Tag */

body{
    margin: 30px;
}

h5 {
    font-weight: 400;
}

h2 {
    font-size: 15px;
    font-weight: 600;
}

/* Stili ID */

/* Stili Classi */

.contenitore {
    display: inline-block;
    width: 300px;
    margin: 5px;
}

.contenitoreImg {
    position: relative;
}

.contenitoreImg img{
    width: 100%;
}

.immagineSecondaria{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.contenitoreImg:hover .immagineSecondaria {
    display: block;
}

.prezzoScontato {
    font-weight: 900;
    color: red;
}

.prezzoMRP {
    text-decoration: line-through;
}

.preferiti{
    position: absolute;
    top: 20px;
    right: 0;
    padding: 7px 15px;
    font-size: xx-large;
    vertical-align: middle;
    align-items: center;
    background-color: white;
}

.scontoSostenibilita {
    position: absolute;
    bottom: 20px;
}

.sconto{
    color: white;
    background-color: rgb(233, 30, 99);
    padding: 2px;
}

.sostenibilita{
    color: white;
    background-color: rgb(0, 133, 96);
    padding: 2px;
}

